
<mat-stepper [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Insira seu Nome</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Nome completo" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Preencha seu endereço</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="Ex. Av. Itaborai nº391" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Preencha seu contato</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>telefone</mat-label>
        <input matInput placeholder="7867867" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button>Finalizar</button>
    </div>
  </mat-step>
</mat-stepper>
